#wrapper{
    max-width: 200px;
    margin:0 auto;
}

#boxWrapper {
    line-height: 0;
}

.boxStyling {
    display: inline-block;
    width: 100px;
    height: 100px;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
}